<h6 class="description">In order to register your corporation you must be CEO or director of your alliance/corporation.</h6>
<div class="registration-igb">
	<button class="register">Register your Corporation</button>
</div>

<!-- CHECK HEADERS TO SEE IF THE CHARACTER IS ALREADY REGISTERED, IF IT INST REGISTERED THEN RENDER THIS PAGE, IF REGISTERED THEN USE AN IF STATEMENT TO DISPLAY CURRENT ACTIVE MEMBERS IN ALLIANCE USING THIS PROGRAM. -->