<div class="hero-unit main-display">
	<div class="span9 image-container">
		<%=image_tag("evel1.png", :class => 'pull-right')%>
		<%=image_tag("evel2.png", :class => 'pull-right')%>
	</div>
	<h1>E.V.I.L.</h1>
	<p><small>Eve Virtual Intel Layer</small></p>
</div>

<div class="span10 center-divs lightblue"></div>
<div class="span10 center-divs"></div>
<div class="span10 center-divs lightblue"></div>
<div class="span10 center-divs"></div>
<div class="span10 center-divs lightblue"></div>
