%p=request.env['HTTP_EVE_SOLARSYSTEMNAME']
%p=request.env['HTTP_EVE_STATIONNAME']
%p=request.env['HTTP_EVE_REGIONNAME']
%p=request.env['HTTP_EVE_CONSTELLATIONNAME']
%p=request.env['HTTP_EVE_ALLIANCENAME']
%p=request.env['HTTP_EVE_SHIPTYPENAME']